{% extends 'base.html.twig' %}

{% block extraStyles %}
    <style>
        body{
            background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.9)),
            url("{{ asset("img/backdrops/" ~ serie.backdrop) }}");
        }
    </style>
{% endblock %}

{% block title %}
    Detail
{% endblock %}

{% block body %}
    <h2>Detail of the serie : {{ serie.name }}</h2>

    <div class="serie-details">
        <img src="{{ asset("img/posters/series/" ~ serie.poster) }}" alt="{{ serie.name }}">

        <div class="serie-detail-infos">
            <h3>{{ serie.name }}</h3>
            <div>User ratings : {{ serie.vote }}</div>
            <div>Genres : {{ serie.genres }}</div>
            <div>Status : {{ serie.status }}</div>
            <div>Aired from {{ serie.firstAirDate | date('Y-m-d') }} to {{ serie.lastAirDate | date('Y-m-d') }}</div>
            <p>{{ serie.overview | nl2br }}</p>

        </div>

    </div>
{% endblock %}

